*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    width: 28rem;
    height: 32rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);
}
.header{
    height:20%;
    width: 100%;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header p{
    text-align: center;
    font-weight: bold;
}
.formInput{
    height: 80%;
}
form{
    height: 100%;
    padding:0 1.5rem;
}
label{
    font-size: 1.3rem;
    font-weight: bold;
}
input{
    display: block;
    width: 100%;
    margin: 1rem 0;
    height:2rem;
    border: 1.9px solid black;
    padding-left: 1rem;
}
ul{
    padding: 0;
}
li{
    font-size: 0.9rem;
    list-style: none;
    line-height: 1.3rem;
}
.invalid{
    color: red;
}
.valid{
    color: green;
}
.valid .fa-check{
    /* display: inline-block; */
    visibility: visible;
}
.valid .fa-xmark{
    display: none;
    visibility: hidden;
}
.invalid .fa-check{
    display: none;
}
.submitBtn{
    width: 100%;
    display: flex;
    justify-content: center;
}
button{
    width: 11rem;
    height: 2.5rem;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}


